#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.post{
  width: 400px;
  margin: 30px auto;
}

.title{
  color: white;
  background-color: rgb(90, 86, 86);

}

.footer{
  text-align: left;
color: green;
}